* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    cursor: pointer;
}

form {
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 50vh;
    background-color: red;
    margin: 10rem auto;
    padding: 1rem;
    opacity: 0.7;
    border-radius: 5px;
    transition: all 0.5s ease;
}

form:hover {
    background-color: #9198e5;
}

.text {
    padding-top: 3rem;
    transition: all 0.5s ease;
}

.text:hover {
    transform: translateY(-100px);
    background-color: rgb(61, 61, 81);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

@media (max-width: 700px) {
    form:hover {
        background-color: #0015ff;
    }

    form {
        flex-direction: column;
        text-align: center;
        width: 40%;
        height: 40vh;
        background-color: rgb(0, 0, 0);
        color: rgb(142, 135, 135);
        margin: 10rem auto;
        padding: 0.2rem;
        border-radius: 5px;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

    .text:hover {
        transform: translateY(-100px);
        background-color: rgb(80, 80, 216);
        padding: 20px;
        color: #fff;
        border-radius: 5px;
        width: 90%;
        margin: auto;
    }
}